.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


@import url("https://fonts.googleapis.com/css?family=Anton:300,400,500,600,700|Poppins:100,200,300,400,500,600,700");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width: 600px) {
  .hide-on-small{
    display:block !important
  }
}

/* Nav Bar - changed background colour*/
.nav-wrapper {
  background-color: ;
  text-transform: uppercase;
}



/* Footer */
.page-footer {
  background-color: ;
  margin-top: 2em;
}

.footer_link {
  color: #e785a6de;
}

.footer_link:hover {
  color: #ca3691;
}

.footer_link:active:focus {
  color: #f7e4fc;
}