@import url("https://fonts.googleapis.com/css?family=Anton:300,400,500,600,700|Poppins:100,200,300,400,500,600,700");

/* .....................................................Nav Bar */

.brand-logo-center {
	margin-left: 10px;
}

.text-color {
	text-transform: uppercase;
	color: #EC6632;
	text-decoration: none;
}

.text-color:hover {
	text-transform: uppercase;
	color: #CD4813;
	text-decoration: none;
}

.text-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* .........................................................home.html  */


/* styling cocktail category names on home.html cards */
div.card-content p {
	font-size: large;
}

div.home-page-intro p {
	font-size: large;
}


/* ............................................ all_coctail.html, coctail_by_category.html */


/* styling cocktail category names on all_coctail.html cards */
span.all-coctail-name {
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-size: 1.3em;
}


/* making card images the same size on allcoctails.html and coctail_by_category.html */
img.image-size {
	float: left;
	width: 100px;
	height: 300px;
	object-fit: cover;
}


/* Min height for the card text so the "view" button stays 
on the same level for all the cards on all_coctails.html 
and coctails_by_category.html page */
.view_cocktail_buttons {
	min-height: 60px;
}


/* Min height for the stars.html cards text */
div.stars-card {
	min-height: 80px;
}


/*.................................................. show_coctail.html page styling */

div.style-card {
	margin-top: 20%;
	margin-bottom: 20%;
}

.responsive {
	width: 100%;
	height: auto;
}


/* styling coctktail category name on show_coctail.html*/
.category-name {
	text-transform: capitalize;
	font-family: "Poppins", sans-serif;
	font-size: 1.5em;
	color: #EC6632;
}


/* styling coctktail name on show_coctail.html*/
.coctail-name {
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	font-style: italic;
}


/*..............................css styling  for edit, delete and cancel buttons */

   /* Site Buttons */
.delete_button {
  background-color: rgb(145, 24, 24)!important;
  border: none;
  border-radius: 5px !important;
  margin: 0.5em 0.5em 0.5em 0.5em !important;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif !important; 
}

.delete_button:hover {
  background-color:#c01f45 !important;

}

.edit_button {
  background-color: #380c70!important;
  border: none;
  border-radius: 5px !important;
 margin: 0.5em 0.5em 0.5em 0.5em !important;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif !important; 
}

.edit_button:hover {
  background-color: rgb(143, 5, 143)!important;
  
}

.cancel_button {
  background-color: #198abe!important;
  border: none;
  border-radius: 5px !important;
  margin: 0.5em 0.5em 0.5em 0.5em !important;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif !important;
}

.cancel_button:hover {
  background-color:#2ea1d6 !important;
  text-decoration: none !important;
}

 .card-img{  

        display: block;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-top: 25px;  
        float: left;
    }

/* CSS styling  for ingredients and notes on show_coctail.html*/
.ingredients-color, .notes-color { 
    color: rgba(214, 73, 7, 0.959);

}

/* changing  horizontal card layout into vertical on mobile for show_coctail.html page */
@media(max-width: 768px){
    .horizontal {  
        flex-direction:column;
        width: 100%;
            }
    .style-card{
    margin-top:10px !important;
    margin-bottom: 10px !important;
}        
    .card-img{   
        object-fit: cover;
        float: center;
        width: 100%;
        min-width: 190px;
        height: auto;

        display: block;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-top: 25px;  
    }
}


/* changing  horizontal card layout into vertical on iPad for show_coctail.html page*/
@media(max-width: 1024px){
    .horizontal {  
        flex-direction:column;
        width: 100%;
            }
    .style-card{
    margin-top: 25% !important;
    margin-bottom: 25% !important;
}    
    .card-img{   
        object-fit: cover;
        float: center;
        width: 100%;
        min-width: 190px;
        height: auto;

        display: block;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-top: 25px;  
    }
}

/*............................................................flash-messages */

.flash-messages {
	padding: 2% 2% 2% 2%;
	color: #000000;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	margin-left: 10%;
	margin-right: 10%;
	background-color: hsla(17, 83%, 56%, 0.25);
}


/*........................................................... Footer */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	text-decoration: none;
}

main {
	flex: 1 0 auto;
}

.footer_link {
	color: #EC6632;
	text-decoration: none;
}

.footer_link:hover {
	color: #CD4813;
	text-decoration: none;
}
