@import url("https://fonts.googleapis.com/css?family=Anton:300,400,500,600,700|Poppins:100,200,300,400,500,600,700");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width: 600px) {
  .hide-on-small{
    display:block !important
  }
}

/* Nav Bar - changed background colour*/
.nav-wrapper {
  background-color: black;
  text-transform: uppercase;
}

/* vertically align materialize icons alongside text */
.material-icons {
  vertical-align: middle;
}

/* Header Styles */
.music_library_header {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 3em;
  margin-top: 1em;
  text-align: center;
  color: rgb(133, 13, 79);
}

.h-style {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

/* Share Socials on View Song Page */
.sharesocials {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* Card Styling */
/* Code from https://stackoverflow.com/questions/61819829/materialize-grid-columns-overflowing */
.card.large {
  height: 475px;
}

.card-title {
  background-color: black;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}

/* make images in card same size on all songs and genres page*/
img.image-size {
  float: left;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* make images on showsong page same size */
img.image-size-show {
  float: left;
  width: 550px;
  height: 550px;
  object-fit: cover;
}

/* Show Song Page Styling */
.vsong-name {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: rgb(61, 13, 148);
}

.vartist-name {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-style: italic;
}

/* All Songs and Genre Page Styling */
.song-name {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  color: rgb(145, 14, 86);
}

.album-name {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-style: italic;
}

.artist-name {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

/* Modal Styling */
.modal-width {
  max-height: 40%;
  width: 60%;
}

/* Spotify Player on showpage*/
.spotify {
  margin-top: 1em;
}

/* styling for embed song text */
.embedsongtext {
  font-size: small;
}

.embedsongred {
  color: red;
}

/* Site Buttons */
.btn {
  margin: auto;
}

.cancel_button {
  background-color: #6d5d70;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.cancel_button:hover {
  background-color: #82808a;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.delete_button {
  background-color: #b1152a;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin: 1em 1em 1em 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.delete_button:hover {
  background-color: #912331;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.edit_button {
  background-color: #380c70;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin: 1em 1em 1em 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.edit_button:hover {
  background-color: #280952;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.save_button {
  background-color: #642f4c;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin-top: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.save_button:hover {
  background-color: #701547;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.view_button {
  background-color: #750d30de;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin-top: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.view_button:hover {
  background-color: #a5005b;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
/* Hover Effect over Genre Images */
.hover:hover {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0.5;
}

/* Footer */
.page-footer {
  background-color: black;
  margin-top: 2em;
}

.footer_link {
  color: #e785a6de;
}

.footer_link:hover {
  color: #ca3691;
}

.footer_link:active:focus {
  color: #f7e4fc;
}
