{% extends 'base.html' %} {% block content %}
<!-- Title-->
<div class="s12 m3 l3">
    <h3 class="h-style">All Coctails</h3>
<!-- Start of Song Card-->
<div class="row">
<!--Calling on Coctail collection-->
{% for coctail  in coctails %} 
    <!--Coctail image-->
    <div class="col l4 m6 s12">
        <div class="card large">
            <div class="card-image">
                    <img class="image-size" src="{{coctail.coctail_image}}" alt="URL Image">
                    <span class="card-title">{{song.genre_name}}</span>
            </div>
            <!--Song content-->
            <div class="card-content">
                <ul>
                    <li>
                        <!--Artist name-->
                        <span class="vartist-name">
                            {{song.artist_name}} 
                        </span>
                    </li>
                    <li>
                        <!--Song name-->
                        <span class="truncate vsong-name">
                            {{song.song_name}} 
                        </span>
                    </li>
                    <li>
                    <span>
                    <!--Button to view song information-->
                    <a href="{{url_for('show_song', song_id=song._id)}}" class='btn view_button'>View Song</a>
                        </span>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}