{% extends 'base.html'%} {% block content %}
<!-- Title -->
<div class="col s12">
    <h3 class="h-style">Classics</h3>
</div>

  <!-- Start of Coctail Card -->
 <div class="row">
 {% for coctail in coctails %}
    <!-- coctail image -->
    <div class="col l4 m6 s12">
        <div class="card large">
            <div class="card-image">
                    <img class="image-size" src="{{coctails.image_link}}" alt="URL Image">
                    <span class="card-title">{{coctails.category_name}}</span>
            </div>
            <!--Coctail content-->
            <div class="card-content">
                <ul>
                    <li>
                        <!--Coctail name-->
                        <span>
                            {{coctails.coctail_name}} 
                        </span>
                    </li>
                    <li>
                        <!--Coctail type-->
                        <span>
                            {{coctails.type}} 
                        </span>
                    </li>
                    <li>
                        <!--Primary_alcohol-->
                        <span>
                            {{coctails.primary_alcohol}} 
                        </span>
                    </li>       
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
 </div>
{% endblock %}