
{% extends 'base.html'%} {% block content %}
<!-- Title -->

<div class="col s12">
  <h3 class="h-style center">{{category_name}}</h3>
</div>

  <!-- Start of Coctail Card -->
 <div class="row">
 {% for coctail in coctails %}



    <!-- coctail image -->
    <div class="col l4 m6 s12">
    
        <div class="card large">
            <div class="card-image">
                    <img class="image-size" src="{{coctail.image_link}}" alt="URL Image">
                    <span class="card-title" >{{coctail.category_name}}</span>
            </div>
            <!--Coctail content-->
            <div class="card-content">
                <ul>
                    <li>
                        <!--Coctail name-->
                        <span >
                           <h5 class= "h-style">{{coctail.coctail_name}}</h5>  
                        </span>
                    </li>
                    <li>
                        <!--Coctail type-->
                        <span>
                            {{coctail.type}} 
                        </span>
                    </li>
                    <li>
                        <!--Primary_alcohol-->
                        <span>
                            {{coctail.primary_alcohol}} 
                        </span>
                    </li>       
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
 </div>
{% endblock %}
