
{% extends "base.html" %}
{% block content %}

<!-- Title of the page -->
<h3 class="light-blue-text text-darken-4 center-align">Edit Cocktail</h3>
<div class="row card-panel grey lighten-5">
   <form class="col s12" method="POST" action="{{ url_for('edit_coctail', coctail_id=coctail._id) }}">
      <!-- category selection -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
            <select id="category_name" name="category_name" class="validate" required>
               <option value="" disabled>Choose Category</option>
               {% for category in categories %}
                  {% if category.category_name == coctail.category_name %}
                  <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                  {% else %}
                  <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endif %}
               {% endfor %}
            </select>
            <label for="category_name">Cocktail Category</label>
         </div>
      </div>
      <!-- Coctail name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input
                id="coctail_name"
                name="coctail_name"
                minlength="1"
                maxlength="200"
                value="{{ coctail.coctail_name }}"
                type="text" class="validate"
                required>
            <label for="coctail_name">Cocktail Name</label>
         </div>
      </div>
      <!--  image url field -->    
      <div class="input-field col s12">
         <i class="material-icons prefix light-blue-text text-darken-4">add_a_photo</i>
         <label for="image_link">URL for Cocktail Image</label>
         <input
            value="{{ coctail.image_link }}"
            id="image_link"
            name="image_link"
            type="text"
            required>
      </div>
      <!-- Coctail type -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <label for="type">Cocktail Type </label>
            <input id="type" name="type" minlength="1" maxlength="200"
               value="{{ coctail.type }}" type="text" class="validate" required>
         </div>
      </div>
      <!-- Coctail primary alcohol-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <i class="fas fa-wine-bottle-alt prefix light-blue-text text-darken-4"></i>
            <input
                id="primary_alcohol"
                name="primary_alcohol"
                minlength="1" maxlength="200"
                value="{{ coctail.primary_alcohol }}"
                type="text"
                class="validate"
                required>
            <label for="primary_alcohol">Primary alcohol</label>
         </div>
      </div>
      <!-- Coctail way of serving -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input
                d="served" 
                name="served"
                minlength="1"
                maxlength="200"
                value="{{ coctail.served }}"
                type="text"
                class="validate"
                required>
            <label for="served">Served</label>
         </div>
      </div>
      <!-- Coctail drinkware -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-glass-martini-alt prefix light-blue-text text-darken-4"></i>
            <input
                 id="drinkware"
                 name="drinkware"
                 minlength="1"
                 maxlength="200"
                 value="{{ coctail.drinkware}}"
                 type="text"
                 class="validate"
                 required>
            <label for="drinkware">Drinkware</label>
         </div>
      </div>
      <!-- Coctail ingredients (description)-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
            <textarea
                id="ingredients"
                name="ingredients"
                minlength="1"
                maxlength="5000"
                class="materialize-textarea validate"
                required>
                {{-coctail.ingredients -}}
            </textarea>
            <label for="ingredients">Ingredients</label>
         </div>
      </div>
      <!-- Coctail preparation (description)-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
            <textarea
                id="preparation"
                name="preparation"
                minlength="1"
                maxlength="5000"
                class="materialize-textarea validate"
                required>
                {{- coctail.preparation -}}
            </textarea>
            <label for="preparation">Preparation</label>
         </div>
      </div>
      <!--Notes-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <textarea
               id="notes"
               name="notes"
               minlength="2"
               maxlength="5000"
               class="materialize-textarea validate" required>
               {{- coctail.notes -}}
            </textarea>
            <label for="notes">Notes</label>
         </div>
      </div>
      <!-- submit button -->
      <div class="row">
         <button
            class="btn save_button btn-large light-blue darken-4 text-shadow"
            type="submit" name="action">
            Save Changes
            <i class="material-icons right">save</i>
         </button>
      </div>
   </form>
</div>

{% endblock %}







