
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


{% extends 'base.html' %} 
{% block content %}
<!-- header -->
<h2 >
Coctails for you!
</h2>
<!-- sub header/headline -->
<h4>
Classics!
</h4>
<!-- Description of website -->
<div>
		<p>Do you like coctails?</p>
</div>
<!-- Start image rows - materialize grid system -->
<!-- row 1-->
<div class="row">
  <!-- col 1 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
         <a href="{{url_for('get_classics')}}"><img src="/static/images/clasics.jpg" alt="Classics"></a>
        </div>
      </div>
    </div>
  <!-- col 2 -->
     <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
           <a href="{{url_for('get_new_era_drinks')}}"><img src="/static/images/new_era.jpg" alt="New_Era"></a>
        </div>
      </div>
    </div>
  <!-- col 3 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_specials')}}"><img src="/static/images/specials.jpg" alt="Specials"></a>
        </div>
      </div>
    </div>
  <!-- col 4 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_flaming_coctails')}}"><img src="/static/images/flames.jpg" alt="Flaming Coctails"></a>
        </div>
      </div>
    </div>   
</div> 
<!-- row 2 -->
<div class="row">
  <!-- col 1 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_beer_coctails')}}"><img src="/static/images/beer.jpg" alt="Beer"></a>
        </div>
      </div>
    </div>
  <!-- col 2 -->
     <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_liquor_coctails(')}}"><img src="/static/images/liquor.jpg"  alt="Liquor"></a>
        </div>
      </div>
    </div>
  <!-- col 3 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_wine_coctails')}}"><img src="/static/images/wine.jpg" alt="Wine"></a>
        </div>
      </div>
    </div>
  <!-- col 4 -->
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_non_alcoholic_coctails')}}"><img src="/static/images/non_alcoholic.jpg" alt="non_alcoholic"></a>
        </div>
      </div>
    </div>   
</div>
{% endblock %}