
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


{% extends 'base.html' %} 
{% block content %}
<!-- header -->
<h2 class="center" >
Coctail Collections
</h2>
<!-- sub header/headline -->
<h6 class="center" >
Discover the world of coctails! 
</h6>
<!-- Description of website -->
<div class="center">
		<p>If you like throwing parties, Coctail Collections is a place for you! 
        You can find here all kinds of recipies from classical to modern era shakes.
        Choose the one you like and make a perfect drink for your friends!
        If you know some special coctail recipie you can also share it here.
        </p>
</div>


<!-- row 1 -->
    <div class="row">
        <!-- col 1 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/classics.jpg" class="materialboxed" >
         <!--  <span class="card-title">Card Title</span> -->
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p> Classics </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> Classic coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                  <a href="{{url_for('get_coctail_by_category', category='Classics')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 2 -->
        
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/new_era.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> New era coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category='New era drinks')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 3 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/specials.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'Specials')}}">This is a link</a>
                </div>
            </div>
        </div>

    </div>    
<!-- row 2-->
    <div class="row">
    <!-- col 1 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/beer.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'Beer coctails')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 2 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/vodka.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'Liquor coctails')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 3 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/wine.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                 <a href="{{url_for('get_coctail_by_category', category = 'Wine coctails')}}">This is a link</a>
                </div>
            </div>
        </div>
    
    </div> 

    <!-- row 3-->
    <div class="row">
    <!-- col 1 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/flames.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'Flaming coctails')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 2 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/non_alcoholic.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'get_non_alcoholic_coctails')}}">This is a link</a>
                </div>
            </div>
        </div>
        <!-- col 3 -->
        <div class="col l4 m4 s12">
            <div class="card sticky-action">
                <div class="card-image">
                <img src="/static/images/other.jpg" class="materialboxed">
                <span class="card-title">Card Title</span>
                <a class="btn blue-grey darken-4 btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content">
                <p>I am a very simple card. </p>
                </div>
                <div class="card-reveal">
                <span class="card-title"> sweet coctails <i class="right"></i></span>
                </div>
                <div class="card-action">
                <a href="{{url_for('get_coctail_by_category', category = 'Other')}}">This is a link</a>
                </div>
            </div>
        </div>
    </div>  




            



{% endblock %}