{% extends 'base.html' %} {% block content %}
<!-- Title -->

<div class="container  float-center move-down">
<div class="card mb-3 left" style="max-width: 740px">
    <div class="row g-0">
    <div class="col-md-4">
        <img
        src="{{coctail.image_link}}"
        alt="..."
        class="img-fluid .responsive "/>

    </div>
    <div class="col-md-8">
        <div class="card-body">
        <ul>
                <li>
                    <!-- Cocktail category -->
                    <span class="category-name">
                        {{coctail.category_name}} 
                    </span>
                </li>
                <li>
                    <!-- Cocktail name -->
                    <span class="coctail-name">
                        {{coctail.coctail_name}} 
                    </span>
                </li>
                <li>
                    <!-- Image link -->
                    <span class="image_link-name" hidden >
                        {{coctail.image_link}} 
                    </span>
                </li>
                <li>
                    <!-- Cocktail type -->
                    <span class="type-name">
                        {{coctail.type}} 
                    </span>
                </li>
                <li>
                    <!-- primary alcohol-->
                    <span class="alcohol-name">
                        {{coctail.primary_alcohol}} 
                    </span>
                </li>
                <li>
                    <!-- served-->
                    <span class="alcohol-name">
                        {{coctail.served}} 

                    </span>
                </li>  
                <li>
                    <!-- Drinkware-->
                    <span class="alcohol-name">
                        {{coctail.drinkware}} 
                    </span>
                </li>
                <li>
                    <!-- ingredients-->
                    <span class="alcohol-name">
                        {{coctail.ingredients}} 
                    </span>
                </li>
                <li>
                    <!-- preparation-->
                    <span class="alcohol-name">
                        {{coctail.preparation}} 
                    </span>
                </li>
                <li>
                    <!--note-->
                    <span class="alcohol-name">
                        {{coctail.notes}} 
                    </span>
                </li>
        </ul>
        </div>
    </div>
        <!-- Edit/Delete Section-->    

            
            <!-- Modal Trigger on Delete Button-->

                </div>  
                        <div class= " row">
                        <button data-target="confirm" class="center  buttons modal-trigger btn delete_button">Delete</button>
                        <form action="{{url_for('edit_coctail', coctail_id=coctail._id)}}" method="GET"> 
                        <button type="submit" name="action" class="btn edit_button buttons center ">Edit</button> 
                        </form>
                        </div>
                        
                </div>

            <!-- Modal Structure -->
                <div id="confirm" class="modal modal-width">
                    <div class="modal-content">
                        <h4><i class="material-icons">warning</i> Hold, Up!</h4>
                        <p>Are you sure you want to delete me?</p>
                    </div>
                    <div class="modal-footer">
                    <form action="{{url_for('delete_coctail', coctail_id=coctail._id)}}" method="POST">
                    <button type="submit" name="action" class="btn delete_button col s4">Delete</button>
                    <a href class="btn cancel_button modal-close col s4">Cancel</a>
                    </form>
                    </div>
                </div> 
    </div>
   


{% endblock %}



