{% extends 'base.html' %} 
{% block content %}

<div class="row">
  <div class="col s12 m12 l12">
    <h1>Meet the stars of Moixology</h1>
    <h6>
      The best contemporary Bartenders ! Click on the link to see their cocktail
      signature recipies. Try them out!
    </h6>
  </div>
</div>

<!-- row 1 -->
<div class="row">
  <!-- col 1 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Will_Patton.png"
          class="materialboxed"
          alt="Will Patton"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/will-patton">
          Will Patton
        </a>
      </div>
    </div>
  </div>
  <!-- col 2 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Natasha_Mesa.png"
          class="materialboxed"
          alt="Natasha Mesa"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/natasha-mesa">
          Natasha Mesa
        </a>
      </div>
    </div>
  </div>
  <!-- col 3 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Kelly_Dawson.png"
          class="materialboxed"
          alt="Kelly Dawson"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/kelly-dawson">
          Kelly Dawson
        </a>
      </div>
    </div>
  </div>
</div>
<!-- row 2-->
<div class="row">
  <!-- col 1 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Julianna_Arquilla.png"
          class="materialboxed"
          alt="Julianna_Arquilla"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/juliana-arquilla">
          Juliana Arquilla
        </a>
      </div>
    </div>
  </div>
  <!-- col 2 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Eddi_Didonato.png"
          class="materialboxed"
          alt="Eddi Didonato"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/eddie-didonato">
          Eddi Didonato
        </a>
      </div>
    </div>
  </div>
  <!-- col 3 -->
  <div class="col l4 m4 s12">
    <div class="card sticky-action">
      <div class="card-image">
        <img
          src="/static/images/star_images/Devin_Kennedy.png"
          class="materialboxed"
          alt="Devin Kennedy"
        />
      </div>
      <div class="card-action">
        <a href="https://www.nationalrestaurantshow.com/profile/devin-kennedy">
          Devin Kennedy
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

